body{
  background-color: #03045E;
}

h1, p{
  color: #CAF0F8;
}

.list_container{
  max-width: 700px;
}

.list_border{
  border-bottom: 1px solid rgb(24, 24, 24);
}

.img_list{
  max-width: 100%;
  height: auto;
}

.font_small{
  font-size: 12px;
}